body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero-container {
    background-color: #1f2937;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-logo,
.main-text {
    font-weight: bolder;
    color: #f9faf8;
}

.text-logo {
    font-size: 24px;
}

.main-text {
    font-size: 48px;
}

.secondary-text,
button, 
a {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px;

}

.left-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    font-weight: bolder;
    flex-grow: 0;
    width: 150px;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
}

.image-placeholder {
    flex: 1;
    background-color: #717176;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    flex: 1;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 50px;
}

.images-and-subtext-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    padding-bottom: 100px;
}

.image-and-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 6px;
}

.image-border {
    padding: 75px;
    border:4px solid #3882f6;
    border-radius: 10px;;
}

.subtext {
    text-align: center;
    color: #1f2937;
}

.quote-container {
    background-color: #e5e7eb;
    flex: 1;
    padding: 72px 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
}

.quote {
    font-weight: 200;
    font-size: 36px;
    color: #1f2937;
    font-style: italic; 
}

.author {
    align-self: end;
    font-size: 28px;
    font-weight: bolder;
    color: #1f2937;
}